* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 1100px;
    width: 80vw;
    background-image: linear-gradient(90deg, rgb(71, 175, 223) , rgba(209, 2, 157, 0.815));
}

h1 {
    color: aliceblue;
    left: 50px;
    position: relative;
    top: 20px;
    right: 350px;
}

form {
    width:70vw;
    height: 1000px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 10px;
    right: 290px;
    
    background: rgba(240, 248, 255, 0.774);
    border-radius: 40px;
}

.Quiz-name {
    position: relative;
    width: 15vw;
    height: 40px;
    bottom: 30px;
    left: 480px;

    text-align: center;
    font-size: 20px; 
    color: grey;
}

p {
    position: relative;
    bottom: 80px;
    font-size: 40px;;
}

.question {
    width: 750px;
    height: 50px;
    position: absolute;
    top: 550px;
    padding-right: 45px;
    font-size: 25px;
    opacity: 65%; 
    background: aliceblue;
    color: black;
}

.photo-upload{
    position: relative;
    z-index: 2;
    top: 300px;
    right: 350px;
}

#the-picture{
    position: relative;
    bottom: 80px;
}

.back{
    position: relative;
    left: 550px;
}

.forward{
    position: relative;
    right: 550px;
}

.save{
    position: relative;
    top: 300px;
    right: 580px;
}

.answers{
    position: relative;
    top: 15px;
    left: 20px;
    width: 58vw;
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.answers
input {
    width: 750px;
    height: 60px;
    background: #f2f2f2;
    margin-bottom: 20px;
    text-align: center;
}

.answerArea {
    display: flex;
}

#RadioInput{
    width: 25px;
    margin-left: 15px;
}
