* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 85vw;
    background-image: linear-gradient(90deg, rgb(71, 175, 223) , rgba(209, 2, 157, 0.815));
}

h1 {
    color: aliceblue;
    top: 50px;
    left: 50px;
    position: relative;
    top: 80px;
    right: 280px;
}

form {
    width:70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    right: 250px;
    background: rgba(240, 248, 255, 0.774);
    border-radius: 40px;
}

.Quiz-name {
    position: relative;
    width: 15vw;
    height: 40px;
    bottom: 90px;
    left: 480px;
    padding-right: 40px;
    font-size: 20px; 
}

p {
    position: relative;
    bottom: 120px;
    font-size: 40px;;
}

.question {
    width: 45vw;
    height: 6vh;
    position: relative;
    bottom: 100px;
    padding-right: 45px;
    font-size: 25px; 
}

.photo-upload{
    position: relative;
    bottom: 60px;
}

.back{
    position: relative;
    left: 550px;
}

.forward{
    position: relative;
    right: 550px;
}

.answers{
    position: relative;
    top: 100px;
    width: 58vw;
    height: 30vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.answers
input {
    width: 750px;
    height: 60px;
    background: #f2f2f2;
    margin-bottom: 20px;
    text-align: center;
}

.answerArea {
    display: flex;
}

#correct{
    width: 25px;
    margin-right: 15px;
}
